/* Page Layout */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.form-control:focus {
  box-shadow: none;
}

.hidden {
  display: none !important;
}

.search-results-list-item:hover {
  padding-left: 20px !important;
  border-color: #c21b6e;
  margin-left: 10px !important;
}

div.documents {
  font-family: "Raleway", sans-serif;
}

.documents p.pv-paragraph {
  color: #555454;
  font-size: 0.875em;
  line-height: 1.85em;
  margin-bottom: 20px;
  margin-top: 5px;
}

.documents .pv-section {
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1.4em;
  border-bottom: 2px solid #f6ba18;
  margin: 30px 0px 20px 0px;
}

.documents p.pv-header {
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-top: 10px;

  padding-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
}

.documents p.pv-sub-header {
  color: #000;
  font-size: 1em;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5px;
}

.documents p.pv-bullet,
.documents p.pv-sub-bullet {
  color: #555454;
  list-style: disc outside none;
  display: list-item;
  margin: 10px 10%;
  line-height: 1.5em;
  text-indent: -6px;
  margin-left: 27px;
}

.documents p.pv-sub-bullet {
  margin-left: 37px;
  line-height: 1.4em;
  font-size: 0.8em;
}

.documents .pv-italic {
  font-style: italic;
  color: #d72121;
  font-size: 15px;
}

/* Generic Table Style */
.documents table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #e9e9e9;
  width: 100%;
  border-top: 1px solid #cacaca;
  margin-bottom: 20px;
  margin-top: 10px;
}

.documents table td {
  padding: 3px 8px;
  border: 1px solid #cacaca;
  height: 20px;
}

.documents table td p.paraSubHeader {
  margin: 0;
}

.documents table td ol.number li {
  margin: 0;
}

.documents table[cell_alignment="Fixed"] {
  table-layout: fixed;
}

.documents
  .pv-table
  .pv-table-row
  .pv-table-cell
  .pv-paragraph[data-align="right"] {
  text-align: right;
}

.documents
  .pv-table
  .pv-table-row
  .pv-table-cell
  .pv-paragraph[data-align="left"] {
  text-align: left;
}

.documents
  .pv-table
  .pv-table-row
  .pv-table-cell
  .pv-paragraph[data-align="center"] {
  margin: 0px auto;
  text-align: center;
}

.documents .tableHeaderBelowIE9 {
  background-color: #6f8298;
  font-weight: bold;
}

.documents .tableHeaderBelowIE9 p {
  color: #ffffff;
  margin-bottom: 0;
}

/* Table for pv-table*/
.documents table.pv-table {
  background-color: #efefef;
  table-layout: fixed;
}

.documents table.pv-table tbody {
  border: none !important;
}

.documents table.pv-table tr.pv-table-row[data-header="true"] {
  background-color: #e9e9e9;
  font-weight: 700;
  color: #000;
}

.documents table.pv-table tr.pv-table-row[data-header="true"] .pv-table-cell {
  background-color: #e9e9e9;
  font-weight: 700;
  color: #000;
}

.documents table.pv-table tr.pv-table-row[data-header="true"] p {
  color: #fff;
}

.documents table.pv-table tr.pv-table-row .pv-paragraph {
  margin: 0;
  line-height: 1.5em;
}

.documents
  table.pv-table
  tr.pv-table-row[data-header="true"][data-hidden="true"] {
  display: none;
}

.documents table.pv-table tr.odd {
  background-color: #f7f6f6;
}

td.pv-quicklinks-cell {
  border: none !important;
}

.pv-quicklinks-container > .pv-quicklinks-image,
.pv-quicklinks-container > .pv-quicklinks-label {
  float: left;
  clear: left;
}

.documents .pv-task-header {
  font-size: 1.3em;
  color: #000;
  line-height: 2em;
  border-bottom: 5px solid #dadada;
  font-weight: bold;
}

.documents div.pv-task-details {
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 5px;
  background-color: #e9e9e9;
  max-width: 40%;
  margin-bottom: 10px;
}

/*icons in taskes*/
.documents div.pv-task-details > p.pv-who {
  border: 1px solid #cacaca;
  background-color: #efefef;
  padding-left: 5px;
}

.documents div.pv-task-details > p.pv-menupath {
  border: 1px solid #cacaca;
  background-color: #f7f6f6;
  padding-left: 5px;
}

.documents div.pv-task-details > p.pv-shortcut {
  border: 1px solid #cacaca;
  background-color: #efefef;
  padding-left: 5px;
}

.documents div.pv-task-details > p.pv-trans {
  border: 1px solid #cacaca;
  background-color: #f7f6f6;
  padding-left: 5px;
}

/*image style*/
.documents img.pv-image {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: baseline;
}

/*Secondary Window CSS*/
.documents .pv-secondary-window {
  border: 2px solid #c4c1c1;
  padding: 10px;
  background: #eaeaea;
  height: auto;
  color: #000;
  width: 100% !important;
  margin: 20px auto;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.documents .pv-secondary-window-title {
  border-bottom: 5px solid #dadada;
  font-weight: bold;
}

.documents .pv-secondary-window-link-container {
  display: none;
}

/*Buttonise*/
.documents .pv-buttonise button img {
  display: inline;
}

.documents span.pv-bold {
  font-weight: 700;
}

.documents td.pv-table-cell {
  background: #fff;
}

.documents td.pv-table-cell.apply-cell {
  background: #fff;
  border: none;
  text-align: center;
  padding-top: 20px;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
